<div class="issue_area">
  <h4><a href="">Issue #<%= @issue_number %> <%= @issue_release_date %>    </a> <a href="https://twitter.com/share" class="twitter-share-button" data-via="vimweekly">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></h4>
  <br/>
<% @tip_val.each_with_index do |c, i|%>
  <strong> <p>Tip <%= i+1 %></p></strong>
  <p>
  <%= c.description %>
  </p>
  <pre id='vimCodeElement'><%= c.code %>
  </pre>
  <div class="span3 author">
    <p> <strong>Source: </strong> <%= c.author %> </p>
  </div>
  <br/>
<% end %>
</div>
