<div class="row" >
  <div class="span10 pagination-centered">
    <div class="div-on-left">
    <h3>Enter your weekly tips!</h3>
      <div class="panel-body">
       <%= form_for(:issues, url: issues_path)  do |f| %>
           <%= f.text_area(:tip1, placeholder: "email")%>
           <br />
           <%= f.text_area(:tip2, placeholder: "email")%>
           <br />
           <%= f.text_area(:tip3, placeholder: "email")%>
           <br />
           <%= f.text_area(:tip4, placeholder: "email")%>
           <br />
           <%= f.text_area(:tip5, placeholder: "email")%>
           <br />
           <%= f.text_field(:release_date, placeholder: "email")%>
           <br />
           <%= f.submit "submit", class: "btn btn-success" %>
       <% end %>
      </div>
    </div>
  </div>
</div>
