<!DOCTYPE html>
<html>
  <head>
    <title>Vim Weekly</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Gentium+Book+Basic|Leckerli+One|Abril+Fatface|Merriweather:400,900|Patua+One|Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="gridbg">
    <div class="container">
      <a id="header" href="/"><h1 id="logo">vim-weekly</h1></a>
      <br/>
      <div class="row">
        <div id="main" class="span10 offset1">

      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash#{name}" %>
        <% end %>
        <% if signed_in? %>
          <p><%= link_to "Sign out", signout_path  %></p>
        <% end %>
        <%= yield %>

        <div class="row">
          <div class="span10 footer">
            <div class="row">
              <div class="span6 contact">
                <strong>Suggest vim tip:</strong> <em>on social media</em>
              </div>

              <div class="span3 social_icons">
                <a href="#" class="twitter"><img src="/assets/socialicons/twitter.png" alt="twitter"/></a>
                <a href="#" class="facebook"><img src="/assets/socialicons/facebook.png" alt="facebook"/></a>
              </div>
            </div>
          </div>
        </div>

      </div><!-- end of .span10-->
      <br/>
    </div><!-- end of .row-->
    <br/>
    <div class="copyright center-align">
      &copy; Vim Weekly - 2014 | <a href="/about">About</a> | <a href="/issues">Archives</a>
    </div>
  </div> <!-- /container -->
  &nbsp;
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
