<!DOCTYPE html>
<html>
  <head>
    <title>Vim Weekly</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Gentium+Book+Basic|Leckerli+One|Abril+Fatface|Merriweather:400,900|Patua+One|Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style type="text/css">
    <!--
    pre { white-space: pre-wrap; font-family: monospace; color: #d0d0d0; background-color: #121212; }
    .Operator { color: #d7005f; }
    .Comment { color: #5f5f5f; }
    .Statement { color: #d7005f; font-weight: bold; }
    .Delimiter { color: #626262; }
    .Identifier { color: #ff8700; }
    .issue_area { width: 850px; }
    -->
    </style>
    <link rel="icon" href="/assets/vim-editor_logo.png">
  </head>
  <body class="gridbg">
    <div class="container">
      <a id="header" href="/"><h1 id="logo">vim-weekly</h1></a>
      <br/>
      <div class="row">
        <div id="main" class="span10 offset1">

      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash#{name}" %>
        <% end %>
        <% if signed_in? %>
          <p><%= link_to "Sign out", signout_path  %></p>
        <% end %>
        <%= yield %>

        <div class="row">
          <div class="span10 footer">
            <div class="row">
              <div class="span6 contact">
                <strong>Got a vim tip worth sharing:</strong> send us an <a href="mailto:vim.weekly@gmail.com?Subject=Vim%20Tip%20Suggestion" target="_top">
                  email </a> or tweet us!
              </div>

              <div class="span3 social_icons">
<a href="https://twitter.com/intent/tweet?screen_name=vimweekly" class="twitter-mention-button" data-related="vimweekly">Tweet to @vimweekly</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
            </div>
          </div>
        </div>

      </div><!-- end of .span10-->
      <br/>
    </div><!-- end of .row-->
    <br/>
    <div class="copyright center-align">
      &copy; Vim Weekly - 2014 | <a href="/about">About</a> | <a href="#">Archives</a>
    </div>
  </div> <!-- /container -->
  &nbsp;
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
